@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
  font-family: 'Roboto', sans-serif;
  background-image:url('../images/background.png');
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.center-div
{
  padding-top: 10%;
}

.btn.btn-success
{
  padding:.4em 2em;
}

form
{
  padding: 0 3em;
}

#login {
  margin-top:0;
}

#login .title > span
{
  font-size: .8em;
}

@media screen and (max-width:1200px) {
  #login {
    margin-top:100px !important;
  }
}