@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
  font-family: 'Roboto', sans-serif;
  background-image:url('../images/background.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.center-div
{
  padding-top: 10%;
}

.btn.btn-success
{
  padding:.4em 2em;
}

form
{
  padding: 0 3em;
}

#login-container {
  margin-top:0;
}

#login-container .title > span
{
  font-size: .8em;
}

#login
{
  border-radius:25px;
  background-color: #fdfdfd80;
}

@media screen and (max-width:1200px) {
  body
  {
    min-height: 100vh;
  }
  #login {
    margin-top:100px !important;
  }
}